
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto";
}

nav{
    display: flex;
    background-color: white;
    z-index: 100000000;
    justify-content: space-around ;
}

.nav1{
    display: flex;
    /* width: 60vw; */
    margin: 15px 40px;
}
.nav1 img{
    height: 50px;
}
.nav1 p{
    margin-left: 40px;

    
}

.nav2{
    display: flex;
    margin-left: 150px;
}   
.nav2 img{
    height: 25px;
    margin-left: 30px;
    margin-top: 25px;
}

.nva2_div_1{
    font-size: 15px;
    margin-top: 15px;
}
.nva2_div_1 p{
    display: flex;
    justify-content: center;
    margin: 1.5px;
    margin-bottom: 10px;
    color: rgb(3, 45, 96);
}

.nva2_div_2{
    display: flex;
    align-items: center;
}

.nva2_div_2 img{
    margin-top: 0px;
}

.nva2_div_2 p{
    font-weight: 700;
}


.nav2 button{
    margin-left: 20px;
    width: 130px;
    height: 60px;
    margin-top: 10px;
    background-color: #3c965a;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

.mobile-view{
    display: flex;
    display: none;

}

.mobile-view img{
    height: 50px;
    margin: 15px 40px;
}

@media (max-width:1087px) {
    .nav1{
        display: none;
    }
    .mobile-view{
        display: flex;
    }
}

@media (max-width:995px) {
    .nav2 button{
        font-size: 1rem;
    }
}


/* ------------------------------------------first-------------------------- */

.first{
    height: fit-content;
    display: flex;
    background-color: #140075;
    justify-content: center;
    color: white;;
    align-items: center;
}

.first img{
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.first p{
    margin-right: 10px;
    font-weight: 700;
}


@media (max-width:380px) {
    .first{
        display: block;
    }
}


/* -----------------------------------second------------------------------- */

.second{
    display: flex;
    background-image: url("Image/second_background.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

.second_1{
    padding-top: 38px;
    padding-left: 180px;
    width: 40vw;
}

.second_1 h1{
    font-size: 50px;
    line-height: 25px;
    color: #032d60;
}

.second_1 p{
    font-size: 18px;
    line-height: 15px;
}

.second_1 button{
    margin-top: 30px;
    padding: 15px 20px;
    margin-right: 20px;
    border-radius: 8px;
    width: 150px;
}
.btn1{
    background-color: #0176d3;
    color: white;
    border-color: #0176d3;
}

.btn2{
    color: #0176d3;
    border-color: #0176d3;
}

.second_2{
    padding: 100px 5px;
    width: max-content;
    height: max-content;

}
.second_2 video{
    border-radius: 10px;
    width: 550px;
}

@media (max-width:1290px) {
    .second_1{
        padding-top: 20px;
        padding-left: 20px;
    }
}

@media (max-width:1067px) {
    .second{
        display: block;
    }
}

@media (max-width:936px) {
    .second_1 h1{
        font-size: 2rem;
    }
    .second_1 p{
        font-size: 1rem;
    }
}

@media(max-width:604px){
    .second_2 video{
        width: 90vw;
    }
    .second_1 h1{
        line-height: 25px;
    }
}


/* -----------------------------------third---------------------------------------------- */
.third{
    height: max-content;
    padding: 0px 0px 40px 0px;
    background-image: url("Image/third_background.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.third_1{
    text-align: center;
    color: #032d60;
    line-height: 15px;
}

.third_2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card1{
    width: 250px;
    height: max-content;
    background-image: url("Image/pb-hp-product-smb_icon-1.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 180px 10px 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 30px;
    margin-right: 35px;
}
.card2{
    width: 250px;
    height: max-content;
    background-image: url("Image/pb-hp-product-smb_icon-2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 180px 10px 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 30px;
    margin-right: 35px;
}
.card3{
    width: 250px;
    height: max-content;
    background-image: url("Image/pb-hp-product-smb_icon-3.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 180px 10px 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 30px;
    margin-right: 35px;
}
.card4{
    width: 250px;
    height: max-content;
    background-image: url("Image/pb-hp-product-smb_icon-4.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 180px 10px 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 30px;

}

.third_3{
    text-align: center;
    margin-top: 45px;
}

.third_3 button{
    border-color: #0176d3;
    color: #0176d3;
    padding: 15px 40px;
    border-width: 3px;
    margin-bottom: 200px;

}

@media (max-width:1025px) {
    .third_2{
        flex-wrap: wrap;
    }
}
@media (max-width:628px) {
    .third h1{
        line-height: 20px;
    }
}

/* ---------------------------forth----------------------------------- */
.forth{
    text-align: center;
    padding-top: 20px;
}

.forth h1{
    color: #140075 ;
    font-size: 45px;
    line-height: 20px;
}

.forth p{
    margin: 40px 420px 60px 420px;
    font-size: 15px;
    line-height: 20px;
}

.forth_1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.forth_1 button{
    padding: 15px 20px 15px 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: #0176d3;
    border-color: #0176d3;
    border-radius: 8px;
    color: white;
}

@media (max-width:1094px) {
    .forth p{
        margin: 20px 210px 30px 210px;
    }
}

@media (max-width:921px) {
    .forth h1{
        line-height: 40px;
    }
}

@media (max-width:598px) {
    .forth p{
        margin: 10px 105px 15px 105px;
    }
}
@media (max-width:340px) {
    .forth p{
        margin: 5px 52px 7px 52px;
    }
}


/* -------------------------------Fifth---------------------------------------------- */

.fifth{
    display: flex;
    justify-content: center;
}

.fifth_1{
    width: 22vw;
    margin: 0px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px 40px 40px 30px;
}
.fifth_1 img{
    margin-left: 50px;
}

.fifth_1 h1{
    color: #032d60;
    font-size: 30px;
}

.fifth_2{
    width: 22vw;
    margin: 0px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px 40px 40px 30px;
}
.fifth_2 img{
    margin-left: 50px;
    margin-bottom: 15px;
}

.fifth_2 h1{
    color: #032d60;
    font-size: 30px;
}

.fifth_3{
    width: 22vw;
    margin: 0px 20px 20px 0px;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 40px 40px 30px;
}
.fifth_3 img{
    margin-left: 50px;
    margin-bottom: 15px;
}

.fifth_3 h1{
    color: #032d60;
    font-size: 30px;
}

@media (max-width:1390px) {
    .fifth{
        flex-wrap: wrap;
    }    
}

@media (max-width:1233px) {
    .fifth img{
        display: none;
    }
    .fifth_1{
        width: max-content;
    }
    .fifth_2{
        width: max-content;
    }
    .fifth_3{
        width: max-content;
    }
}


/* ----------------------------------sixth-------------------------------------- */

.sixth{
    text-align: center;
}

.sixth button{
    border-color: #0176d3;
    color: #0176d3;
    padding: 15px 40px;
    border-width: 3px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.sixth h1{
    color: #032d60;
    line-height: 50px;
}

/* -----------------------------seventh--------------------------------- */

.seventh{
    background-image: url("Image/seventh_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 120px 200px 120px;

}

.seventh div img {
    height: 70px;
    width: 210px;
}

.seventh div{
    border-color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: min-content;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ------------------------------------eight--------------------------------------------- */
.center_ke_liye2{
    display: flex;
    justify-content: center;
}
.eight{
    margin-top: 80px;
    color: #032d60;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: min-content;
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 80px;
    align-content: center;
    margin-bottom: 70px;
    
}

.eight_1{
    width: 40vw;
}

.eight_1 h1{
    margin-top: 100px;
    margin-bottom: 100px;
}
.eight_1 button{
    padding: 15px 20px 15px 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #0176d3;
    border-color: #0176d3;
    border-radius: 8px;
    color: white;
}

.eight_2 img{
    width: 30vw;
}


/* ----------------------------------Ninth--------------------------------------------- */

.ninth{
    text-align: center;
}
.ninth h1{
    margin-bottom: 80px;
}

.cardss{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardss div{
    margin-right: 20px;
}

.cardss div img{
    width: 284px;
    height: 284px;
}

.cardss div p{
    text-align: start;
    margin-left: 50px;
}

/* --------------------------------------tenth----------------------------------------- */

.tenth{
    text-align: center;
    background-image: url("Image/pb-hp-products-bg-2.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.tenth h1{
    margin: 100px 400px 50px 400px;
}

.tenth_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tenth_cards div{
    margin-right: 20px;
}

.tenth_cards div img{
    width: 400px;
    height: 267px;
}

.tenth_cards div p{
    text-align: start;
    margin-left: 50px;
    margin-bottom: 350px;
}

@media (max-width:1150px){
    .tenth h1{
        margin: 25px 100px 15px 100px;
    }
    .tenth_cards div p{
        margin-bottom: 200px;
    }
}

@media (max-width:433px) {
    .tenth h1{
        margin: 15px 50px 7px 50px;
    }
    .tenth_cards div img{
        width: 250px;
        height: 200px;
    }
    .tenth_cards div p{
        margin-bottom: 40px;
    }

}

/* ------------------------------------eleven------------------------------------ */

.eleven{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.eleven div{
    margin-right: 120px;
    margin-top: 50px;
    width: max-content;
}
.eleven img{

    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.eleven_1 div{
    margin-top: 30px;
}

.eleven_1 p{
    color: #0176d3;
    font-size: 12px;
}

@media (max-width:471px){
    .eleven div{
        margin: 0px 0px 0px 0px;
    }
}

/* -----------------------------------twelve-------------------------------------------- */

.flexxx{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #032e61;
    font-size: 14px;
    flex-wrap: wrap;
}

.flexxx p{
    margin-left: 20px;
    margin-right: 20px;
}

.flexxx img{
    width: 30px;
    height: 30px;
    /* margin-right: 5px; */
    margin-left: 5px;
}





.copyright_ke_liye button{
    color: white;
    background-color: #0176d3;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.copyright_ke_liye{
    position: sticky;
    text-align: end;
    margin: 0px 40px 20px 0px;
    z-index: 10000;
    bottom: 0;    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



button{
    cursor: pointer;
}

.nav1 p {
    cursor: pointer;

}

.nav1 p:hover{
    color: #0176d3;
}
